body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(5, 5, 5);
}



#textLayer {
    position: absolute;
    top: 10%;
    left: 17.5%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: black;
    font-size: 24px;
    animation: fade-in 1.5s ease-in;
}

#About {
    position: absolute;
    top: 9em;
    left: 2.5em;
    z-index: 10;
    color: black;
    font-size: 32px;
    font-weight: bold;  
}

#info{
    font-size: 22px;
    font-weight: normal; 
}

#threejs-canvas{
    position: fixed;
    height: 50%;
    width: 35%;
    left:45em;
    top:10em;
    z-index: 9;
    animation: fade-in 2s ease-in;
}
#pantomime-logo{
    width: 700px;
    height: 700px;
    overflow:visible;
    filter: drop-shadow(0px 0px 15px white) drop-shadow(0px 0px 10px white) drop-shadow(0px 0px 5px white)  drop-shadow(0px 0px 20px rgb(215, 219, 255));
}
#pantomime-logo:hover{
    filter: drop-shadow(0px 0px 17px white) drop-shadow(0px 0px 12px white) drop-shadow(0px 0px 7px white)  drop-shadow(0px 0px 22px rgb(215, 219, 255));
}

/* Mobile Styles */
@media only screen and (max-width: 1024px) {

    #pantomime-logo{
        width: 21.5em;
        height: auto;
    }
    #textLayer {
        left: 50%;
        top: 6.5%;
        
    }
    
    #threejs-canvas {
        height: 100%;
        width: 100%;
        left:0em;
        top:0em;
    }


#About { 
    //opacity:0;
    top: 8.5em;
    margin-left: 0em;
    margin-right: 1em;
    
}

#info{
    
}

}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}