body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

#project-links{
    z-index: 10;
}


#textLayer {
    position: absolute;
    top: 8.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    color: black;
    font-size: 24px;
    animation: fade-in 1.5s ease-in;
}

#About {
    position: absolute;
    bottom: 5%;
    height: 1em;
    left: 32%;
    width:35%;
    transform: translateY(-50%);
    z-index: 10;
    color: black;
    font-size: 22px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    animation: fade-in 2s ease-in;
}

#info{
    font-size: 18px;
    font-weight: normal; 
}

#threejs-canvas{
    position: fixed;
    height: 100%;
    width: 100%;
    left:0em;
    top:0em;
    z-index: 9;
    animation: fade-in 2s ease-in;
}
#pantomime-logo{
    width: 20em;
    height: 20em;
    overflow:visible;
    filter: drop-shadow(0px 0px 15px white) drop-shadow(0px 0px 10px white) drop-shadow(0px 0px 5px white)  drop-shadow(0px 0px 20px rgb(215, 219, 255));
}
#pantomime-logo:hover{
    filter: drop-shadow(0px 0px 17px white) drop-shadow(0px 0px 12px white) drop-shadow(0px 0px 7px white)  drop-shadow(0px 0px 22px rgb(215, 219, 255));
}
#project-links{
position: absolute;
right: 30%;
width: 40%;
height: auto;
top: 50%;
transform: translateY(-50%);
z-index:12;
display: flex;
justify-content: center;
align-items: center; 
animation: fade-in 1s ease-in;
}

#project-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2vw;
    width: 90%;
    height: 90%;
    justify-content: center;
}

#password-input{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 11;
}
/* Mobile Styles */
@media only screen and (max-width: 1024px) {

    #project-links{
      left:0;
      top:29em;
      width:auto;
      padding: 2.5em;
      margin-right: 0;
      right: 0;
    }

    #project-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 2vw;
        width: 90%;
        height: 90%;
        justify-content: center;
    }

    #pantomime-logo{
        width: 100%;
        height: auto;
    }
    #textLayer {
        left: 50%;
        top: 7.5%;
        
    }
    
    #threejs-canvas {
        height: 100%;
        width: 100%;
        left:0em;
        top:0em;
    }


#About { 
    top: 42.5em;
    bottom:3%;
    width:auto;
    height:auto;
    left:0;
    right:0;
    
    margin-left: 3em;
    margin-right: 3em;
    font-size: 20px;
}

#info{
    
}

#password-input{
   
    height: 170vh;

}

}



@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}